<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top"  style="padding-left: 2%;padding-right: 4%;" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: beige;">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="nav justify-content-center navbar-brand " style="color: beige;">
      <h5 >Partner with us as a:</h5>
    </div>
    <div class="d-flex">
   
  
      
       
           
       
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Customer
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#" routerLink="/login">Login</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/userReg">Register</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/bookings">Book a truck</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Driver
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#" routerLink="/login">Login</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/driverReg">Register as driver</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/viewBookings">View Bookings</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  </div>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
