<!-- <div class="row row-cols-1 row-cols-md-2 g-4 w-60 p-3" style="background-color: #eee;" style="padding-left: 2%;padding-right: 4%; padding-top: 2%; padding-bottom: 2%;"  >
    <div class="card text-bg-dark">
        <img src="..."   alt="..." style="height: 100%; width: 100%;">
        
      </div>
    
    <div class="card text-bg-dark w-20 p-3" style="background-color: #eee;">
        <img src="../assets/map.jpeg"  class="card-img" alt="...">
        <div class="card-img-overlay">
          
        </div>
      </div>
    
    </div> -->
 