



<div class="col-md-12" >
    <div class="card card-container">
        <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
       
          <form
           
          >
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                name="username"
                
              />
              
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="text"
                class="form-control"
                name="username"
                
              />
              
               
            </div>
            <div class="form-group">
              <button class="mt-4 px-4 py-3  leading-6 text-base rounded-md border border-transparent text-white focus:outline-none bg-blue-500 text-blue-100 hover:text-white focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 cursor-pointer inline-flex items-center w-full justify-center items-center font-medium focus:outline-none"
              >
                Login
              </button>
              <div class="flex flex-col items-center mt-5">
                <p class="mt-1 text-xs font-light text-gray-500">
                  Dont have an account?<a routerLink="/userReg" class="ml-1 font-medium text-blue-400">Register now</a>
                  </p>
              </div>
            </div>
            
          </form>

    </div> 
        </div>
      

